.search-filter.rtl{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: 0px !important;
}

.search-filter-btn.rtl{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right: 0px !important;
}
.search-filter.ltr{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-right: 0px !important;

}

.search-filter-btn.ltr{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: 0px !important;
}

.nav-link.nav-case-tab.active,
.nav-link.nav-case-tab:hover
{
    color: var(--sc-1) !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 2px solid var(--sc-1) !important;
    border-radius: 0px !important;
}
.nav-link.nav-case-tab{
    color: var(--text-strong-color);
    border: none;
    border-radius: 0px !important;
    transition: all .3s ease-in-out;
}

.wide-upload-input{
    padding: 20px;
    border: 3px dashed var(--table-border-color); /* Create a dashed border */
    border-radius: 15px; /* Rounded corners */
}
