@font-face {
    font-family: 'public-sans';
    src: url("../Fonts/Public-Sans/PublicSans-ExtraBold.ttf") format('truetype');
    font-weight:bolder;
    font-style: normal;
}
@font-face {
    font-family: 'public-sans';
    src: url("../Fonts/Public-Sans/PublicSans-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'public-sans';
    src: url("../Fonts/Public-Sans/PublicSans-SemiBold.ttf") format('truetype');
    font-weight:600;
    font-style: normal;
}
@font-face {
    font-family: 'public-sans';
    src: url("../Fonts/Public-Sans/PublicSans-Medium.ttf") format('truetype');
    font-weight:500;
    font-style: normal;
}
@font-face {
    font-family: 'public-sans';
    src: url("../Fonts/Public-Sans/PublicSans-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'public-sans';
    src: url("../Fonts/Public-Sans/PublicSans-Light.ttf") format('truetype');
    font-weight:300;
    font-style: normal;
}
@font-face {
    font-family: 'public-sans';
    src: url("../Fonts/Public-Sans/PublicSans-ExtraLight.ttf") format('truetype');
    font-weight:lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Cairo';
    src: url("../Fonts/Cairo/Cairo-ExtraBold.ttf") format('truetype');
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family: 'Cairo';
    src: url("../Fonts/Cairo/Cairo-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cairo';
    src: url("../Fonts/Cairo/Cairo-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Cairo';
    src: url("../Fonts/Cairo/Cairo-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Cairo';
    src: url("../Fonts/Cairo/Cairo-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Cairo';
    src: url("../Fonts/Cairo/Cairo-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Cairo';
    src: url("../Fonts/Cairo/Cairo-ExtraLight.ttf") format('truetype');
    font-weight: lighter;
    font-style: normal;
}




