/* shared classes start*/
.export-btn,
.export-btn:hover {
    background-color: var(--statistic-bg3);
    color: var(--statistic-c3);
    border: 1.2px solid var(--export-border-clr);
}

.Toastify--animate-icon,
.Toastify__toast-body * {
    color: white;

}

.toolbar-btn {
    background-color: var(--toolbar-bg);
    color: var(--toolbar-clr);
    transition: all .3s ease-in-out;
}

.--toolbar-bg-arrows {
    background-color: var(--toolbar-bg-arrows);
    color: var(--text-strong-color);
    transition: all .3s ease-in-out;
}

.toolbar-btn:hover,
.toolbar-btn:focus,
.toolbar-btn:active,
.toolbar-btn.active {
    background-color: var(--sc-1);
    color: var(--l-d-clr);
}

/* shared classes end*/
/* statistic card css start */
.statistic-card-wrapper {
    /* width:262.5px;  */
    box-shadow: 0px 4px 18px 0px rgba(var(--shadow-color2), 0.1);
}

.statistic-card-header {
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    color: var(--mc-1);
}

.statistic-card-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.btn-group .dropdown-toggle.dots-action::after {
    display: none;
}

/* Login Page Css Start */

.login-logo {
    width: 170px;
    height: 120px;
}

.login-header::after {
    position: absolute;
    content: "";
    width: 45%;
    height: 3px;
    top: 105%;
    left: 0px;
    border-radius: 80px;
    background-color: var(--sc-1);

}



/* Login Page Css End */

/* statistic card css end */


.pagination-select {
    border: 2px solid var(--text-strong-color);
    color: var(--text-strong-color) !important;
    height: 30px;
    width: 80px;
    min-width: 40px;
}

.overlay {
    position: fixed;
    /* Fixed to cover the entire viewport */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--body-bg-op-1);
    backdrop-filter: blur(2px);
    z-index: 999;
    /* Make sure it covers other content */
}

.loader-logo {
    width: 120px !important;
    height: 120px;
}


.layout-transition {
    transition: all 1s ease;
}

.create-input-btn-clr {
    opacity: 0;
    transform: translateY(-20px);
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease, transform 1s ease, height 1s ease;
}

.create-input-btn-clr.show {
    opacity: 1;
    transform: translateY(0);
    height: auto;
}

.create-input-btn-clr.hide {
    opacity: 0;
    transform: translateY(-20px);
    height: 0;
}

.home-card-header {
    font-size: 26.02px;
    font-weight: 600;
    line-height: 35.61px;
}

.profile-img-wrapper img {
    width: 192px;
    height: 132px;
    border-radius: 6px;
    border: 4px solid var(--border-light-color);

}

.user-profile-info img {
    width: 20px;
    height: 20px;
}

.role-name,
.role-value {
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: var(--mc-1);
}

.role-value {
    font-weight: 500;
}

.edit-profile-modal .modal-dialog {
    max-width: 610px;
    margin: 30px auto;
}

.edit-profile-description {
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: var(--mc-1);
}

.edit-profile-header {
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 11px;
    color: var(--text-strong-color);
}

.chat-window-content {
    height: 400px;
    /* overflow-y: auto; */
}

.scrollarea {
    min-height: 500px;
}

.select-mail-box {
    background-color: var(--ended-case-bg);
    color: var(--mc-1);
    font-size: 13px;
    font-weight: 600;
    line-height: 14px;
}

.view-notification-form .form-select:disabled,
.form-control:disabled {
    background-color: var(--l-d-clr) !important;
}

.notification-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: var(--mc-1);
}

.notification-value {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: var(--text-strong-color);
}

.message-card-name{
    font-size: 15px;
    font-weight: 600;
    line-height: 21px;
}

.message-card-description{
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: var(--mc-1);
}

.message-card-img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.card-vertical-line{
    border-left: 2px solid var(--sc-1);
}
.LH-27px{
    line-height: 27px !important;
}


@media(max-width:500px) {
    .error-page-text{
        font-size: 18px !important;
    }
    .login-logo {
        width: 130px;
        height: 90px;

    }

    .statistic-card-header {
        font-size: 14px;
    }

}

@media(max-width:450px) {

    .message-wrapper {
       flex-direction: column !important;

    }

    .message-actions{
        flex-direction: row !important;
        gap: 48px !important;
        justify-content: center !important;
        width: 100% !important;
        margin-top: 10px !important;
    }

}

@media(max-width:400px) {

    .login-logo {
        width: 100px;
        height: 75px;

    }
    .error-page-text{
        font-size: 15px !important;
    }

}